.container-about{
    background-color: #3b3b3b!important;
    width: 100%;
    
}

.img_card {
    position: relative;
    top: 200px;
    left: 50%;
    width: 38%;
    height: 500px;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}

.text_card {
    position: relative;
    background-color: #ffcc57!important;
    width: 60%;
    left: 1%;
    right: 50%;
    top: -400px;
    height: 700px;
    padding-top:100px;
    padding-left: 100px;
    padding-right: 300px;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction:column;
    align-items: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    background-clip: border-box;
    border: 1px solid #ffffff;
    z-index: 1;
}

.container-about {
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 50px;
 }

d-title {
    margin-bottom: 36px;
}
.h5, h5 {
    font-size: 42px;
    font-weight: 400;
}
body {
    margin: 30px;
    font-size: 28px;
    font-weight: 100;
    line-height: 1.5;
    font-family: Avenir;
    color: #2f3133;
    text-align:left;
    background-color: #fff;
    padding-left: 30px;
}
 

