html {
  width: 100%;
	height: 100%;
  box-sizing: border-box;
  position: absolute;
}

body{
  display: block;
  margin: 0px!important;
  background-color: #3b3b3b!important;
  font-size: 28px;
  font-weight: 100;
  /* font-family: 'Avenir', Helvetica, sans-serif; */
  line-height: 1.5;
  text-align: left;
  padding-left: 0px!important;
  width: 100%!important;
}
.flex-box {
  display: block;
  justify-content: center;
}
.container-box {
  height: 100%;
  background-color: #ffffff;

}
.content-box {
  color: #303c5b;
  line-height: 0px;
  background-color: #ffffff;

}
