/* html{ */
  /* overflow-x:hidden; */
/* } */
body{
  display: block;
  margin: 0px!important;
  background-color: #3b3b3b!important;
  font-size: 28px;
  font-weight: 100;
  line-height: 1.5;
  font-family: Avenir;
  color: #2f3133;
  text-align: left;
  background-color: #fff;
  padding-left: 0px!important;
  width: 100%!important;
}
.flex-box {
  display: block;
  justify-content: center;
}
.container-box {
  height: 100%;
  background-color: #ffffff;

}
.content-box {
  color: #303c5b;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  background-color: #ffffff;
}